 
/*.......... main div............ */
.componet{
  border: 5px solid black;
  display: flex;
  height: 25vh;
  background-color: rgb(250, 240, 228);
}
/*....................... container -1.................... */
.container-1{
  width: 12vw;
  height: 25vh;
 
}
#star-1{
  font-size: 20px;
  text-align: center;
  color: #e62bf1;  
  margin-top: .5em;
  font-weight: bold;
}
#para {
  text-align: center;
  color: #e62bf1;
  margin-top: -1em;
}
#para p,i{
  color: #d324d3;
  font-size: 1em; 
  font-weight: bold;
}
.container-1 img{
  display: block;
  border-radius: 50%;
  margin: auto;
  position: relative;
  top: .7em;
  width: 6vw;
}
.container-1 img:hover{
  cursor: pointer;
}
/*.................... container-2.................... */
 .container-2{
  margin-left: 20px;
  height: 25vh;
 }
 .container-2 h2{
  height: 20px;
  font-weight: 20px;
 }
.detalil p{
display: inline-block;
margin-left: 20px;
}
 #subject{
  color: #e109ed;
  display: flex;
  height: 6vh;
}
.subject{
    border: 1px solid black;
    margin: 0.5em;
    height: 3.5vh;
    width: 7vw;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.subject:hover{
 background-color: rgb(61, 56, 56);
 color: white;
}
.color{
  color: #c906cb;
}
.subject h3 {
    padding-top: 0px;
    text-align: center;
    margin: auto;
    font-size: 20px;
}
.detalil{
height: 10px;
}
/*............container-3................. */
.rating{
  width: 10vw;
  text-align: center;
  margin-left: 40px;
 
}
.rating #red{
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  background-color:#d85bdf;
  cursor: pointer;
 
}
.rating #yellow{
  padding: 10px;  
  font-size: 20px;
  border-radius: 50%;
  background-color: yellow;
  cursor: pointer;
}
.rating #brown{
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  background-color: rgb(141, 135, 128);
  cursor: pointer;
}
.rating #green{
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  background-color:#77eb77;
  cursor: pointer;
}
.rating #award{
  color: #c906cb;
  padding: 5px;
  font-size: 20px;
}
 #span h2{
  color: #e109ed;
}
/*.................constner-4.................. */
.profile{
  top: 10px;
  border-radius: 26px;
  background-color: #f263f5;
  color: white;
  border: 2px solid black;
  height: 5vh;
  width: 8vw;
  text-align: center;
  display: flex;
  position: fixed;
  bottom: 10px;
  right: 20px;  
}
.profile:hover{
  background-color: rgb(231, 6, 204);
  cursor: pointer;
}
.profile h2{
  margin: auto;
  font-size: 1.1vw;
}
.profile i{
  margin: auto;
  color: wheat;
}
/* ....................... */
@media only screen and (max-width: 600px) {
  .componet{
    width: 100vw;
    border: 5px solid black;
    display: flex;
    height:24vh;
    background-color: rgb(250, 240, 228);
  }
  /*....................... container -1.................... */
  .container-1{
    width: 15vw;
    height: 25vh;
   
  }
  #star-1{
    font-size: 20px;
    text-align: center;
    color: #e62bf1;  
    margin-top: 2.5em;
    font-weight: bold;
  }
  #para {
    text-align: center;
    color: #e62bf1;
    margin-top: -1em;
  }
  #para p,i{
    color: #d324d3;
    font-size: 1em; 
    font-weight: bold;
  }
  .container-1 img{
    display: block;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: 1em;
    width: 11vw;
    margin-top: 10px;
  }
  .container-1 img:hover{
    cursor: pointer;
  }
  /*.................... container-2.................... */
   .container-2{
    margin-left: 12px;
    height: 28vh;
    width: 45vw;
   }
   .container-2 h2{
    height: 1vh;
    position: relative;
    top: 0px;
    font-size: 1em;
   }
   .container-2 p{
    height: 1vh;
    position: relative;
    top: 15px;
    font-size: .7em;
   }
  .detalil p{
  display: inline-block;
  margin-left: 20px;
  }
   #subject{
    color: #e109ed;
    display: flex;
    height: 6vh;
  }
   #subject h3{
    margin: auto;
    text-align: center;
    font-size: .5em;
  }
  .subject{
    border: 1px solid black;
    height: 2.5vh;
    width: 8vw;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: 47px;
  }
  .subject:hover{
   background-color: rgb(61, 56, 56);
   color: white;
  }
  .color{
    color: #c906cb;
  }
  .subject h3 {
      padding-top: 0px;
      text-align: center;
      margin: auto;
      font-size: 20px;
  }
  .detalil{
  height: 10px;
  }
  /*............container-3................. */
  .rating{
    width: 2vw;
    text-align: center;
    margin-left: 0px;
    display: flex;
    height: 2vh;
    position: relative;
    top: 18px;
  }
  .rating #red{
    padding: 6px;
    font-size: .4em;
    border-radius: 50%;
    background-color: #d85bdf;
    cursor: pointer;
   
  }
  .rating #yellow{
    padding: 6px;
    font-size: .4em;
    border-radius: 50%;
    background-color: yellow;
    cursor: pointer;
    
  }
  .rating #brown{
    padding: 6px;
    font-size: .4em;
    border-radius: 50%;
    background-color: rgb(141, 135, 128);
    cursor: pointer;
   
  }
  .rating #green{
    padding: 6px;
    font-size: .4em;
    border-radius: 50%;
    background-color:#77eb77;
    cursor: pointer;
   
  }
  .rating #award{
    color: #c906cb;
    padding: 6px;
    font-size: 12px;
    position: absolute;
  }
   #span h2{
    color: #e109ed;
  }
  /*.................constner-4.................. */
  .profile{
    top: 21px;
    border-radius: 9px;
    background-color: #f263f5;
    color: white;
    border: 1px solid black;
    height: 3vh;
    width: 10vw;
    text-align: center;
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 12px; 
  }
  .profile:hover{
    background-color: rgb(231, 6, 204);
    cursor: pointer;
  }
  .profile h2{
    margin: auto;
    font-size: 0.4em;
  }
  .profile i{
    margin: auto;
    color: wheat;
    font-size: .6em;
  }
}
 
   